<html>
  <head>
    <title>Beacon Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/jquery-1.8.0.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/bootstrap.css" />
    <script src="/public/bootstrap.js"></script>
    <link rel="stylesheet" href="/public/app.css" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Test Server</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div id="dashboard">
        <div class="row" />
          <div class="col-md-8">
          	User ID:<br>
            <input class="col-md-12" id="userid"/><br>
            Name:<br>
            <input class="col-md-12" id="username"/><br>
            Beacon:<br>
            <input class="col-md-12" id="beacon"/>
            <button onclick="myFunction()">Submit</button>
            <hr/>
            <div id="conversation"></div>
          </div>
      </div>
      <script>
        

        function escaped(s) {
          return $("<div></div>").html(s).html();
        }

        var name = "Mr Test";

        var socket = io.connect('/');


        // listener, whenever the server emits 'updatechat', this updates the chat body
        socket.on('updatechat', function (username, data) {
          $('#conversation').append(escaped(data) + "<br/>");
        });
      
        function myFunction() {
        	var userid = $('#userid').val();
        	var username = $('#username').val();
        	var beacon = $('#beacon').val();
        	
        	var MUserid = 'User ID: '.concat($('#userid').val());
        	var MUsername = 'Name: '.concat($('#username').val());
        	var MBeacon = 'Beacon: '.concat($('#beacon').val());
        	var message= MUserid.concat('\n',MUsername,'\n',MBeacon);

              $('#userid').val('');
              $('#username').val('');
              $('#beacon').val('');
              
              //socket.emit('sendchat', message);
              socket.emit('bledata', userid, username, beacon);
        }

      </script>
    </div>
  </body>
</html>
